<footer class="footer">
    <div class="container footer-grid">
        <div class="footer-col">
            <h4>Thông tin</h4>
            <p><i class="fa-solid fa-phone"></i> 0826 548 248</p>
            <p><i class="fa-solid fa-location-dot"></i> 6B Đường Chánh Hưng, Bình Hưng ,Bình Chánh, TP.HCM</p>
        </div>

        <div class="footer-col">
            <h4>Menu</h4>
            <ul>
                <li><a href="./pricingdetails.html">Chính sách giá</a></li>
                <li><a href="./service.html">Dịch vụ</a></li>
                <li><a href="./practiceroom.html">Phòng tập</a></li>
                <li><a href="./labthuchanh.html">Lab thực hành</a></li>
            </ul>
        </div>

        <div class="footer-col">
            <h4>Mạng xã hội</h4>
            <div class="social-icons">
                <a href="https://www.facebook.com/jiikayy2004"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://www.instagram.com/tiikayy2309/?igsh=aDk1MWZiaW55eHhw#"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://www.youtube.com/@jiikayy4145"><i class="fa-brands fa-youtube"></i></a>
                <a href="https://www.tiktok.com/@jiikayy0610"><i class="fa-brands fa-tiktok"></i></a>
            </div>
        </div>
    </div>
</footer>