<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>920Gym - Khai Phá Tiềm Năng</title>
    <link rel="stylesheet" href="./frontend/index.html">
</head>
<body>
    <header class="header">
        <div class="container header-flex">
            <div class="logo">
                <i class="fa-solid fa-dumbbell"></i> 920<span>GYM</span>
            </div>

            <nav class="navbar">
                <ul class="nav-list">
                    <li><a href="./index.html" class="active">Home</a></li>
                    <li><a href="#">Dịch vụ</a></li>
                    <li><a href="#">Bảng giá</a></li>
                    <li><a href="#">Lịch tập / HLV</a></li>
                    <li><a href="#">Lab thực hành</a></li>
                </ul>
            </nav>

            <div class="header-actions">
                <button class="search-btn"><i class="fa-solid fa-magnifying-glass"></i></button>
                <a href="#" class="btn-primary">Tham gia</a>
            </div>
        </div>
    </header>
</body>
</html>